@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    main > section#login {
        width: 90vw;
    }

    main > section#login > div#imagem {
        float: left;
        width: 250px;
        height: 500px;
    }

    main > section#login > div#formulario {
        float: right;
        width: 70%;
    }

    main > section#login > div#formulario > p {
        font-size: 1.2em;
        text-align: center;
        margin-right: 30px;
    }

        
    input#iemail-login, input#isenha {
        width: 300px;
        height: 30px;
    }

    input#isenha {
        margin-top: 10px;
    }
 
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    
    main > section#login {
        width: 950px;
    }

    main > section#login > div#imagem {
        float: left;
        width: 40%;
        height: 500px;
    }

    main > section#login > div#formulario {
        float: right;
        width: 60%;
    }

    main > section#login > div#formulario > p {
        font-size: 1.2em;
        text-align: center;
    }

    main > section#login > div#formulario > h1, p {
        margin-right: 30px;
        
    }
    
    input#iemail-login, input#isenha {
        width: 300px;
        height: 30px;
    }

    input#isenha {
        margin-top: 10px;
    }
 
}

@media screen and (min-width: 1200px) {
    main > section#login {
        width: 990px;
    }


    main > section#login > div#imagem {
        float: left;
        width: 50%;
        height: 500px;
    }

    main > section#login > div#formulario {
        float: right;
        width: 50%;
    }

    main > section#login > div#formulario > p {
        font-size: 1.2em;
        text-align: center;
    }

    main > section#login > div#formulario > h1, p {
        margin-left: 0px;
        
    }

    main > section#login > div#formulario > h1 {
        font-size: 1.8em;
    }
        
    input#iemail-login, input#isenha {
        width: 300px;
        height: 30px;
    }

    input#isenha {
        margin-top: 10px;
    }
 

}